SOLAR_VERSION=#<FILL IN>
ENVIRONMENT_NAME=#<FILL IN>

SOLAR_DB_USERNAME=solar
SOLAR_DB_PASSWORD=#<FILL IN>
SOLAR_DB_DATABASE=solar
SOLAR_DB_HOST=textual-db
SOLAR_PYML_URL=https://textual-ml:7701
SOLAR_WEB_URL=https://textual-api
SOLAR_DB_SSLMODE=prefer
SOLAR_DB_PORT=5432
SOLAR_STATISTICS_SEED=#<FILL IN>
SOLAR_LICENSE=#<FILL IN>
SOLAR_ADMINISTRATORS=#<FILL IN>

# Secret used for encryption.  Any string value is valid.
SOLAR_SECRET=#<FILL IN>

#SOLAR_HTTPS_ONLY=true

# LLM Synthesis
#OPENAI_API_KEY=#<FILL IN>

# OCR
# Only necessary if you plan on scanning PDFs.  Note this uses your own Azure account to run OCR on PDFS via Azure Cognitive Services.
# If you wish to use AWS or GCP services instead, please reach out to your Tonic account rep or support@tonic.ai
#SOLAR_AZURE_DOC_INTELLIGENCE_KEY=#<FILL IN>
#SOLAR_AZURE_DOC_INTELLIGENCE_ENDPOINT=#<FILL IN>

# Google SSO
#SOLAR_SSO_GOOGLE_CLIENT_ID=#<FILL IN>
#SOLAR_SSO_GOOGLE_CLIENT_SECRET=#<FILL IN>

# GitHub SSO
#SOLAR_SSO_GITHUB_CLIENT_ID=#<FILL IN>
#SOLAR_SSO_GITHUB_CLIENT_SECRET=#<FILL IN>

# Okta SSO
#SOLAR_SSO_OKTA_CLIENT_ID=#<FILL IN>
#SOLAR_SSO_OKTA_DOMAIN=#<FILL IN>
#SOLAR_SSO_OKTA_IDENTITY_PROVIDER_ID=#<FILL IN>
#SOLAR_SSO_OKTA_AUTHORIZATION_SERVER_ID=#<FILL IN>

# Azure SSO
#SOLAR_SSO_AZURE_CLIENT_ID=#<FILL IN>
#SOLAR_SSO_AZURE_TENANT_ID=#<FILL IN>
#SOLAR_SSO_AZURE_CLIENT_SECRET=#<FILL IN>

# Keycloak SSO
#SOLAR_SSO_KEYCLOAK_CLIENT_ID=#<FILL IN>
#SOLAR_SSO_KEYCLOAK_CLIENT_SECRET=#<FILL IN>
#SOLAR_SSO_KEYCLOAK_AUTHORITY=#<FILL IN>

# OIDC SSO
#SOLAR_SSO_OIDC_AUTHORITY=#<FILL IN>
#SOLAR_SSO_OIDC_CLIENT_ID=#<FILL IN>
#SOLAR_SSO_OIDC_CLIENT_SECRET=#<FILL IN>
#SOLAR_SSO_OIDC_SCOPES=#<FILL IN>
